body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #c3c6c5;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #525251;
  color: #c3c6c5;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

section {
  padding: 20px;
}

section h2 {
  margin-bottom: 10px;
}

section ul {
  list-style-type: disc;
  margin-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

form label {
  margin-bottom: 5px;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  padding: 10px 20px;
  background-color: #403a3a;
  color: #c3c6c5;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: 10px auto;
}

footer {
  background-color: #c2c2c2;
  padding: 10px;
  text-align: center;
}

footer h2 {
  margin-bottom: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: #000;
  text-decoration: none;
}